<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Khanos Fun Stuff</title>
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="row h-100">
                <div class="col my-auto">
                    <h1 class="text-center">This is a Workbench for APIS.</h1>
                    <h3 class="text-center">Made with <span id="love">love</span>.</h3>
                    <div class="container">
                        <table class="table table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">URL</th>
                                <th scope="col">Description</th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="/api/twitter">/api/twitter</a></td>
                                <td>Hola mundo!</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="/api/twitter/getTweets">/api/twitter/getTweets</a></td>
                                <td>Return a json with all the tweets by userId and count</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><a href="/api/linkedin">/api/linkedin</a></td>
                                <td>Just for testing, simple Hello world.</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><a href="/api/linkedin/getLogin">/api/linkedin/getLogin</a></td>
                                <td><p>Redirects the browser to LinkedIn's OAuth 2.0 authorization page where the member authenticates. After authentication, LinkedIn's authorization server passes an authorization code to your application. <a href="https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/marketing/context">More info</a></p></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><a href="/api/linkedin/getLoginId">/api/linkedin/getLoginId</a></td>
                                <td><p>Return the user id <a href="https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/marketing/context">More info</a></p></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td><a href="/api/linkedin/getTokenInfo">/api/linkedin/getTokenInfo</a></td>
                                <td><p>Check token TTL and determine whether the token is active or expired <a href="https://docs.microsoft.com/en-us/linkedin/shared/authentication/token-introspection?context=linkedin/marketing/context">More info</a></p></td>
                            </tr>
                        </table>
                    </div>
                    <p class="text-right">This is a small fun project, you can view it on <a href="https://github.com/Khanos/workbench-apis">GitHub</a></p>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>