<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>@Khanos Fun Stuff</title>
	<link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/dependencies/font-awesome-4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/styles/main.css">
	<script src="https://js.stripe.com/v3/"></script>
	<script>
		var stripePublicKey = "<%= stripepublickey %>";
	</script>
</head>

<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col my-auto">
					<h1 class="text-center">hello from <span id="love">stripe/index.ejs</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="InputCharge">Enter a charge value</label>
						<input type="email" class="form-control" id="InputCharge" aria-describedby="emailHelp"
							placeholder="Enter a charge value">
						<small id="chargeHelp" class="form-text text-muted">This is just a simple test.</small>
					</div>
					<button type="button" onclick="payHandler()" class="btn btn-primary">Pay</button>
				</div>
			</div>
		</div>
	</section>
	<script>
		(function(){
			if(window.location.href.split('status=').length > 1){
				if(window.location.href.split('status=')[1] === 'success'){
					alert("Payment Successfully")
				}
				if(window.location.href.split('status=')[1] === 'cancel'){
					alert("Payment Canceled")
				}
			}
		})();
		var price = 0;
		var payHandler = function() {
			var stripe = Stripe(stripePublicKey);
			price = parseFloat(document.getElementById('InputCharge').value) * 100;
			if(isNaN(price)){
				return false;
			}
			console.log('Handle pay: ', price);
			fetch('stripe/checkout', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'Accept': 'application/json'
				},
				body: JSON.stringify({
					price: price,
					sourceUrl: encodeURIComponent(window.location.href.split('?')[0])
				})
			}).then(function(response) {
				return response.json();
			}).then(function(data){
				console.log(data);
				return stripe.redirectToCheckout({ sessionId: data.id });
			}).then(function(result) {
				if (result.error) {
					alert(result.error.message);
				}
				console.log(result);
			}).catch(function(error){
				alert('Payment Fail: ', error)
			});
		}
	</script>
	<script type="text/javascript" src="/js/jquery.slim.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>