@font-face {
    font-family: "Open Sans";
    src: url('fonts/Inconsolata.ttf') format("ttf"),
}
#love {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    animation: rainbow 7s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

.error-console {
    font-family: 'Inconsolata', monospace;
    background: black;
    padding: 20px;
    min-height: 300px;
    color: white;
}